.form {
  background-color: antiquewhite;
}

.button-container {
  margin-bottom: 10px;
}

.hero-img2 {
  text-align: center;
}

.hero-img2 img {
  width: 80%;
  border-radius: 30px;
  margin: 20px;
}
h2 {
  text-align: center;
}
